<section class="breadcrumb-area bg-img bg-overlay jarallax" id="5" style="background-image: url('./img/bg-img/13.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>About us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area section-padding-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-content mb-50">
                    <div class="section-heading">
                        <div class="line"></div>
                        <h2>About FINGINE</h2>
                    </div>
                    <h6 class="mb-4 text-justify">FINGINE is your Personal Financial Engine to propel you towards your wealth Goals.</h6>
                    <h6 class="mb-4 text-justify">Fingine helps you invest in the funds appropriate for your risk and reward profile, considering your goals & the time horizon.</h6>
                    <h6 class="mb-4 text-justify">You are unique and so is your Fingine, efficient and prompt services, investment tracker and professional approach, acts as enabler for investors for taking important decisions.</h6>
                    <h6 class="mb-4 text-justify">Our Fingine platform helps optimising the investor's portfolio based on their financial goals and minimising the risks.</h6>
                    <h6 class="mb-4 text-justify">Our experienced team is always accessible to steer your financial journey.</h6>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-thumbnail mb-50">
                    <img src="./img/about_us.png" alt="About FINGINE">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-area d-flex flex-wrap">
    <div class="cta-content">
        <div class="section-heading white">
            <div class="line"></div>
            <h2>Why Customer Choose us?</h2>
        </div>
        <div class="single-widget-area cata-widget">
            <ul style="color: white; font-size: 22px; list-style-type: circle">
                <li>Quality</li>
                <li>Responsibility</li>
                <li>Honesty</li>
                <li>Reliability</li>
            </ul>
        </div>
    </div>
    <div class="cta-thumbnail bg-img jarallax" style="background-image: url('./img/bg-img/19.jpg');"></div>
</section>

<section class="cta-2-area wow fadeInUp" data-wow-delay="100ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="cta-text">
                        <a href="https://play.google.com/store/apps/details?id=com.fingine.app" class="blink_me" target="_blank">Download The Fingine App Or Invest By Web Click Here</a>
                    </div>
                    <div class="cta-btn">
                        <a href="https://play.google.com/store/apps/details?id=com.fingine.app" target="_blank">
                            <img src="./img/download.png" height="60" alt="Download App">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center mb-50">
            <div class="line"></div>
            <h2>Meet Our Team</h2>
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-12 col-md-4">
          <div class="single-team-member-area mb-50">
            <div class="team-thumb">
              <img src="./img/team/Prashant.jpg" alt="">
              <div class="view-more">
                <a
                  href="#"
                  class="btn btn-secondary"
                  ngbTooltip="Prashant is an MBA in Insurance & Financial Services and brings his 2 decades of experience from Mutual Funds and banks to help develop a customer centric platform. Having interacted with several small and big investors he understands the basic needs of an investor and works to make the platform customer friendly. Prior to the entrepreneurial journey he has worked with ING, Sundaram AMC in India & overseas markets."
                  placement="right"
                >+</a>
              </div>
            </div>
            <div class="team-info">
              <h5>Prashant Rathi</h5>
            </div>
          </div>
        </div>
  
        <!-- Team Member 2 -->
        <div class="col-12 col-md-4">
          <div class="single-team-member-area mb-50">
            <div class="team-thumb">
              <img src="./img/team/Paresh.jpg" alt="">
              <div class="view-more">
                <a
                  href="#"
                  class="btn btn-secondary"
                  ngbTooltip="Paresh is an CA, CFA, MBA who uses his nerdy side of the brain to develop and analyse financial products that can best combine in FINGINE. Having worked in finance industry for 2 decades his job is to ensure your money generates optimal returns. Paresh was an equity analyst with Birla Sunlife AMC, he is working as an Investment Banker for the last 6 years."
                  placement="right"
                >+</a>
              </div>
            </div>
            <div class="team-info">
              <h5>Paresh Khandelwal</h5>
            </div>
          </div>
        </div>
  
        <!-- Team Member 3 -->
        <div class="col-12 col-md-4">
          <div class="single-team-member-area mb-50">
            <div class="team-thumb">
              <img src="./img/team/swati.jpg" alt="">
              <div class="view-more">
                <a
                  href="#"
                  class="btn btn-secondary"
                  ngbTooltip="Swati is a B.E. with over 8 years of experience in Retail industry. She is a blend of professional & creative thinking for technical and analytical work while being resourceful, innovative, flexible & transparent ensuring to giveaway a personalized assistance and confidence to the clients. Prior to starting her journey with Fingine, she has worked with Arvind Ltd., Aditya Birla Fashion & Retail, Bestseller India."
                  placement="right"
                >+</a>
              </div>
            </div>
            <div class="team-info">
              <h5>Swati Chandak</h5>
            </div>
          </div>
        </div>
  
        <!-- Team Member 4 -->
        <div class="col-12 col-md-4">
          <div class="single-team-member-area mb-50">
            <div class="team-thumb">
              <img src="./img/team/anand.jpg" alt="">
              <div class="view-more">
                <a
                  href="#"
                  class="btn btn-secondary"
                  ngbTooltip="Anand Chandak is an MBA (Finance) based out of Chennai, and comes with a widespread experience in wealth and capital management. He has worked with several stock broking and securities firms handling their HNI clients."
                  placement="right"
                >+</a>
              </div>
            </div>
            <div class="team-info">
              <h5>Anand Chandak</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="newsletter-area section-padding-100 bg-img jarallax" style="background-image: url('./img/bg-img/6.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="nl-content text-center">
                    <h2>FINGINE Is Your Personal Financial Engine. Get Your Free Account Now!</h2>
                </div>
            </div>
        </div>
    </div>
</section>