<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('./img/bg-img/13.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Services</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Structured Products</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container section-padding-100-0">
    <div class="row">
        <div class="col-sm-6">
            <div class="section-heading">
                <div class="line"></div>
                <h2>Structured Products</h2>
            </div>
            <p>We offer structured products, structured deposits and structured investment options which are customized to suit investors' risk-return objectives.</p>
            <button (click)="signup()" 
                    accesskey="s" 
                    class="btn credit-btn box-shadow btn-2 signups">
              Contact Us
            </button>
        </div>
        <div class="col-sm-6">
            <img src="./img/subpages/structured investment.jpg" 
                 style="width: 100%; height: 300px" 
                 alt="Structured Products Services">
        </div>
    </div>
</div>