<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('./img/bg-img/13.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Services</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Mutual Fund</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container section-padding-100-0">
    <div class="row">
        <div class="col-sm-6">
            <div class="section-heading">
                <div class="line"></div>
                <h2>Mutual Fund</h2>
            </div>
            <p>Begin your Investment Journey by Investing via Lumpsum or SIP for long term benefits, Children financial security, Retirement benefits & many more. </p>
            <p>Aim to Grow Your Capital with Secured Investments, User Friendly Interface and Paperless Transactions.</p>
            <button (click)="signup()" accesskey="s" class="btn credit-btn box-shadow btn-2 signups">Contact Us</button>
        </div>
        <div class="col-sm-6">
            <img src="./img/subpages/mutual fund.jpg" style="width: 100%; height: 300px" alt="Mutual Fund">
        </div>
    </div>
</div>

<app-contact-modal *ngIf="showModal" (closeModal)="closeModal()"></app-contact-modal>