<section class="breadcrumb-area bg-img bg-overlay jarallax" id="Insurance_Glossary" style="background-image: url('./img/bg-img/13.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Insurance Glossary</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Learning</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Insurance Glossary</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="about-area section-padding-70">
    <div class="container">
        <h3>Glossary</h3>
        <hr/>
        <div class="shadow-lg p-3 mt-5 bg-body rounded text-center">
            <span style="color: #333399">Insurance Glossary</span>
            <a href="./pdfs/Insurance_Glossary1.pdf" 
               target="_blank" 
               style="color: #FF6600"
               (click)="downloadPdf()">
               Download
            </a>
        </div>
    </div>
</div>