 <!-- <footer class="footer-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">About Us</h5>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/faqs">FAQs</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">Our Services</h5>
            <ul>
              <li><a routerLink="/services/mutualfund">Mutual Funds</a></li>
              <li><a routerLink="/services/portfolio">Portfolio Management</a></li>
              <li><a routerLink="/services/insurance">Insurance</a></li>
              <li><a routerLink="/services/home-loans">Home Loans</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">How It Works</h5>
            <ul>
              <li><a href="#">Call Us</a></li>
              <li><a href="#">Invest</a></li>
              <li><a href="#">Relax</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">Contact Us</h5>
            <p>216, Swastik Plaza, 2nd floor, Pokhran Road no 2, Near Voltas, Thane West - 400601</p>
            <p>Phone: 022 47515673</p>
            <p>Email: <a href="mailto:support@fingine.in"><span>{{ 'support@fingine.in' }}</span></a></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="copywrite-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="copywrite-text">&copy; {{ currentYear }} Fingine Financial Service LLP</p>
          </div>
        </div>
      </div>
    </div>
  </footer>  -->
  <section class="features-area section-padding-70">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12">
                <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <h2>All You Need To Do Is</h2>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4" style="height: 410px">
                <div class="single-features-area mb-50 wow fadeInUp" data-wow-delay="410ms">
                    <img src="./img/howwedo/call_us.png" style="width: 100%; height: 250px" alt="Call Us">
                    <h5>CALL US</h5>
                    <p>Tell us about yourself, investment amount, tolerance for risk and investment horizon. We are happy to assist you.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4" style="height: 410px">
                <div class="single-features-area mb-50 wow fadeInUp" data-wow-delay="410ms">
                    <img src="./img/howwedo/invest.png" style="width: 100%; height: 250px" alt="Invest">
                    <h5>INVEST</h5>
                    <p>Make seamless and paperless transactions with the click of a button for Mutual Fund Investment. One-time online document submission for other categories.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4" style="height: 410px">
                <div class="single-features-area mb-50 wow fadeInUp" data-wow-delay="410ms">
                    <img src="./img/howwedo/relax.png" style="width: 100%; height: 250px" alt="Relax">
                    <h5>RELAX</h5>
                    <p>Enjoy, and join other investors who have made the smart decision to let us handle the rest. FINGINE is your Personal Financial Engine .</p>
                </div>
            </div>
        </div>
    </div>
</section>



  <footer class="footer-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">About Us</h5>
            <nav>
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/services/mutualfund">Services</a></li>
                <li><a (click)="navigateTo('/faq')">FAQs</a></li>
                <li><a (click)="navigateTo('/about')">About</a></li>
                <li><a (click)="navigateTo('/contact')">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">Our Services</h5>
            <nav>
              <ul>
                <li><a (click)="navigateToMutualFund()">Mutual Funds</a></li>
                <li><a (click)="navigateTo('/services/pms')">Portfolio Management</a></li>
                <li><a (click)="navigateTo('/services/insurance')">Insurance</a></li>
                <li><a (click)="navigateTo('/services/home-loans')">Home Loans</a></li>
                <li><a (click)="navigateTo('/services/fixed-deposits')">Fixed Deposits</a></li>
                <li><a (click)="navigateTo('/services/structured-products')">Structured Products</a></li>
              </ul>
            </nav>  
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">How It Works</h5>
            <nav>
              <ul>
                <li><a href="#">Call Us</a></li>
                <li><a href="#">Invest</a></li>
                <li><a href="#">Relax</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="new col-12 col-sm-6 col-lg-3" style="font-size: 14px">
          <div class="single-footer-widget mb-50">
            <h5 class="widget-title">Contact Us</h5>
            <div class="icon mb-4">
              <img src="./img/core-img/location.png" alt="" style="padding-right: 10px">
              216, Swastik Plaza, 2nd floor, Pokhran Road no 2, Near Voltas, Subhash Nagar, Thane West - 400601
            </div>
            <div class="icon mb-4">
              <img src="./img/core-img/call.png" alt="" style="padding-right: 10px">
              022 47515673
            </div>
            <div class="icon mb-4">
              <img src="./img/core-img/message2.png" alt="" style="padding-right: 10px">
              {{'support@fingine.in'}}
            </div>
            <div class="icon mb-4">
              <img src="./img/fingine2.png" alt="" style="padding-right: 10px">
              AFMI Registered Mutual Fund Distributor
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copywrite-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
              <p class="copywrite-text">
                Copyright &copy; {{ currentYear }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> 